.container {
  width: 400px;
  margin: 50px auto;
  background: #bbe4e923;
  padding: 40px;
  border-radius: 10px;
}
form {
  margin: 20px auto;
}
#search-city-input {
  width: 70%;
  padding: 5px 10px;
  border-radius: 60px;
  border: none;
  font-size: 16px;
  background: #bbe4e9;
}
#search-city-submit {
  width: 20%;
  padding: 5px 10px;
  border-radius: 60px;
  border: none;
  font-size: 16px;
  background: #5585b5;
  color: white;
}
header {
  display: flex;
  flex-direction: 1p 1p;
  justify-content: space-between;
  margin-bottom: 30px;
}
header .city {
  font-size: 60px;
  font-weight: 800;
}
header .now {
  margin-top: 30px;
}
header .time {
  font-size: 20px;
  font-weight: 600;
}
.tempDisplay {
  display: flex;
  text-align: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  justify-content: space-between;
}
.temperature .tempNow {
  font-size: 50px;
  font-weight: 800;
}
.temp {
  font-weight: 700;
}
.iconImage {
  position: relative;
  top: -20px;
  left: -20px;
  transform: scale(0.7);
  margin: 0;
}
.details {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  background: #bbe4e9;
  padding: 20px;
  border-radius: 10px;
}
footer {
  text-align: center;
  font-size: 12px;
}
a {
  color: #0a549e;
}
